################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Honoplay/AdminService/obj
/Honoplay/AdminService/bin
/Honoplay/.vs
/Honoplay/AdminFrontEnd/node_modules
/.vs/Honoplay
/Honoplay.AdminWebAPI/obj
/Honoplay.AdminWebUI/node_modules
/Honoplay.AdminWebUI/obj/Debug
/Honoplay.AdminWebAPI/bin/Debug/netcoreapp2.2
/Honoplay.Application/obj
/Honoplay.Common/obj
/Honoplay.Domain/obj
/Honoplay.Persistence/obj
/obj
