################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Honoplay/AdminService/obj
/Honoplay/AdminService/bin
/Honoplay/.vs
/Honoplay/AdminFrontEnd/node_modules
